@using Project.Models
@{
    int id = 0;
    string NombreUsuario = "";
    string tipoUsuarioNombre = "";
    Usuario obj = (Usuario)Session["UsuarioFull"];

    if (obj == null)
    {
        Response.Redirect("~/");
        return;
    }
    else
    {
        id = obj.id;
        NombreUsuario = obj.nombreCompleto;
        tipoUsuarioNombre = obj.tipoUsuarioNombre;
    }
}
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{!! csrf_token() !!}" />
    <title>DRE</title>

    <link rel="stylesheet" href="~/styles/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles/assets/css/layout.min.css">
    <link rel="stylesheet" href="~/styles/assets/css/bootstrap_limitless.min.css">
    <link rel="stylesheet" href="~/styles/assets/css/colors.min.css">
    <link rel="stylesheet" href="~/styles/assets/css/components.min.css">
    <link rel="stylesheet" href="~/styles/assets/plugins/cropper/cropper.min.css">
    <link rel="stylesheet" href="~/styles/assets/plugins/toastr/toastr.min.css">
    <link href="~/styles/assets/image/iconn.ico" rel="icon">
    <link rel="stylesheet" href="~/styles/assets/plugins/icheck/skins/all.css">
    <link href="~/styles/global_assets/css/icons/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/styles/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/styles/assets/css/fontstyle.css" rel="stylesheet" type="text/css">
</head>

<body class="sidebar-xs">

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark bg-dark-400">

        <div class="navbar-brand">
            <a href="#" class="d-inline-block">
                <img src="~/styles/assets/image/logo.png" alt="">
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="~/styles/assets/image/default.jpg" class="rounded-circle mr-2" height="34" alt="">
                        <span>@NombreUsuario - Usuario : @tipoUsuarioNombre.ToUpper()</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item" id="btnCerrarSesion">
                            <i class="icon-switch2"></i> CERRAR SESIÓN
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->

    <div class="navbar navbar-expand-xl navbar-light bg-light navbar-component rounded mb-0">
        <div class="text-center d-xl-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-demo2-mobile">
                <i class="icon-unfold mr-2"></i>
                Menú
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-demo2-mobile">
            <ul class="nav navbar-nav">
                @switch (obj.idTipoUsuario)
                {
                    case 2:
                        <li class="nav-item">
                            @Html.ActionLink("GUIA DE RUTAS", "Expediente", "Documento", null, new { @class = "navbar-nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("NOTIFICACIONES", "Index", "Notificaciones", null, new { @class = "navbar-nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("CALCULO DE RUTAS", "", "", null, new { @class = "navbar-nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("COMPARTIR INCIDENCIAS", "", "", null, new { @class = "navbar-nav-link" })
                        </li>
                        break;
                    case 3:
                        <li class="nav-item">
                            <a href="~/Usuario/Listar" class="navbar-nav-link"><i class="icon-user-plus mr-2"></i>USUARIOS</a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Map/Index" class="navbar-nav-link"><i class="icon-user-plus mr-2"></i>AGREGAR RUTAS</a>
                        </li>
                        break;
                }
            </ul>
        </div>
    </div>

    <!-- Page content -->
    <div class="page-content">
        <div class="content-wrapper">
            @RenderSection("header", required: false)
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Core JS files -->
    <script src="~/styles/global_assets/js/main/jquery-3.4.1.min.js"></script>
    <script src="~/styles/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/forms/styling/switch.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/notifications/noty.min.js"></script>
    <script src="~/styles/global_assets/js/demo_pages/form_inputs.js"></script>
    <script src="~/styles/global_assets/js/plugins/ui/moment/moment_locales.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/styles/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/styles/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="~/styles/global_assets/js/demo_pages/datatables_responsive.js"></script>
    <script src="~/styles/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>
    <script src="~/styles/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/styles/assets/plugins/cropper/cropper.min.js"></script>
    <script src="~/styles/assets/plugins/toastr/toastr.min.js"></script>
    <script src="~/styles/assets/plugins/AutoComplete/jquery-ui.js"></script>
    <script src="~/styles/assets/plugins/loadingoverlay/loadingoverlay.min.js"></script>
    <script src="~/styles/assets/plugins/icheck/icheck.min.js"></script>
    <script src="~/styles/assets/js/app.js"></script>
    <script src="~/styles/global_assets/js/main/axios.min.js"></script>
    <script src="~/styles/assets/js/Metodos/General.js"></script>
    <script>
        customData = @Html.Raw(Json.Encode(obj));
    </script>
    @RenderSection("js", required: false)
</body>
</html>
